<%= stylesheet_link_tag 'devise_css/sign_up'%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h1 align="center">Crea Tu Cuenta</h1>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="row">
          <br>
          <b><%= f.label :username %></b>
          <%= f.text_field :username, class: "form-control", placeholder:"Usuario" %>
        </div>
        <br>
        <div class="row">
          <br>
          <b><%= f.label :password %></b>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Contraseña" %>
        </div>
        <br>
      </div>
      <div class="col-md-2">
        <div class="crop">
          <img id="img_prev" src=<%= image_url("default.png") %> alt="avatar" class="img-thumbnail hidden" style="cursor:pointer"/>
        </div>
        <%= f.file_field :avatar, id: "avatar-upload" %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      
      <div class="col-md-3">
        <div class="row">
          <br>
          <b><%= f.label :email%></b>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email" %>
        </div>
        <br>
        <div class="row">
          <br>
          <b><%= f.label :password_confirmation %></b>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirmar Contraseña" %>
        </div>
        <br>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <br>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-3">
          <br>
          <%= f.submit "Crear Cuenta", id: "submitButton", class: "btn btn-dark" %>
      </div>
      <div class="col-md-3">
          <br>
          <%= render "devise/shared/links" %>
      </div>
      <div class="col-md"></div>
    </div>
  <% end %>
</div>

<script>
  signup_init();
</script>