<%= stylesheet_link_tag 'devise_css/sign_up'%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h1 align="center">Crea Tu Cuenta</h1>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-4">
        <br>
        <b><%= f.label :username %></b>
        <%= f.text_field :username, class: "form-control", placeholder:"Usuario" %>
      </div>
      <div class="col-md"></div>
      <div class="col-md-4">
        <br>
        <b><%= f.label :email%></b>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email" %>
      </div>
      <div class="col-md"></div>
    </div>
    
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-4">
        <br>
        <b><%= f.label :password %></b>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Contraseña" %>
      </div>
      <div class="col-md"></div>
      <div class="col-md-4">
        <br>
        <b><%= f.label :password_confirmation %></b>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirmar Contraseña" %>
      </div>
      <div class="col-md"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-3">
          <br>
          <%= f.submit "Crear Cuenta", id: "submitButton", class: "btn btn-dark" %>
      </div>
      <div class="col-md-3">
          <br>
          <%= render "devise/shared/links" %>
      </div>
      <div class="col-md"></div>
    </div>
    <%= f.file_field :avatar %>
  <% end %>
</div>

