<%= stylesheet_link_tag 'maps/map','maps/gmap','app_navbar/black_theme' %>

<div id="control_div">
  <div class="control indexControl active">
  </div>
  <div class="control mapControl">
    <h2 >Planea tu ruta</h2>
      <br>
      <div class="mapControl_body">
        <div class="flex btn_mode_group">
          <button class=" btn btn-dark active" onclick="setMode('WALKING')"><%=icon('fas', 'walking')%></button>
          <button class="btn btn-dark" onclick="setMode('TRANSIT')"><%=icon('fas', 'bus')%></button>
          <button class="btn btn-dark" onclick="setMode('DRIVING')"><%=icon('fas', 'car')%></button>
          <button class="btn btn-dark disabled" onclick="setMode('BICYCLING')"><%=icon('fas', 'bicycle')%></button>
        </div>
        <br />
        <label>¿Donde comienza tu viaje?</label>
        <div class="flex select_point">
          <span class="input-group-text btn btn-outline-dark" id="Origen">Origen</span>
          <button class="btn btn-dark delMarker" id="delOrigen"><%=icon('fas', 'trash')%></button> 
        </div>
        <br />
        <label>¿Donde termina?</label>
        <div class="flex select_point">
          <span class="input-group-text btn btn-outline-dark" id="Destino">Destino</span>
          <button class="btn btn-dark" id="delDestino"><%=icon('fas', 'trash')%></button> 
        </div>
        <br />
        <button class="btn btn-dark btn-block" id="Send" >Enviar</button><br />
      </div>
      <div class="flex menu_return">
        <button class="btn btn-dark mr-1" id="map_resetBtn" onclick="javascript:void(0)" >Reiniciar</button>
        <button class="btn btn-dark md-1" onclick="setSection('index')" >Menu</button>
      </div>
  </div>
  <div class="control interestControl">
    <h2>Seccion de Interes</h2>
      <button class="btn btn-dark btn-block" onclick="setSection('index')" >Menu</button>
  </div>
  <div class="control newsControl">
    <h2>Seccion de Novedades</h2>
      <button class="btn btn-dark btn-block" onclick="setSection('index')" >Menu</button>
  </div>
</div>


<div id="panel_div">
  <div class="panel indexPanel active">
      <h1>¿Que Buscas?</h1><br />
      <p id="RouteLink" class="panellink" onclick="setSection('map')">Planear Ruta</p>
      <p id="InteresLink" class="panellink" onclick="setSection('interest')">Sitios de interes</p>
      <p id="NewsLink" class="panellink" onclick="setSection('news')">Ultimos acontecimientos</p>
  </div>
  <div class="panel mapPanel">
    <div id="map_container">
      <input id="gmapSearchBar" class="controls" type="text" placeholder="Search Box">
      <div id="map"></div>
    </div>
  </div>
  <div class="panel interestPanel">
    <h2>Panel de Interes</h2>
  </div>
  <div class="panel newsPanel">
    <h2>Panel de Novedades</h2>
  </div>
</div>

<script>
  mapService_init();
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaoxBtQLuiJX3wkWGD9ycZscf2yQSFPmo&libraries=places&callback=initMap"></script>