<%= stylesheet_link_tag 'maps/map','maps/bmap','app_navbar/black_theme' %>

<div id="control_div">
  <div class="control indexControl active">
  </div>
  <div class="control mapControl">
    <div id="mapControlMainMenu">
      <h2 >Planea tu ruta</h2>
        <br>
        <div id="searchContainer">
          <div id='searchBoxContainer'>
              <input type='text' class="form-control" id='searchBox' placeholder="Buscar sitio"/>
          </div>
        </div>
        <br />
        <div class="mapControl_body">
          <div class="flex btn_mode_group">
            <button class=" btn btn-dark active" onclick="setMode('Walking')"><%=icon('fas', 'walking')%></button>
            <button class="btn btn-dark" onclick="setMode('Bus')"><%=icon('fas', 'bus')%></button>
            <button class="btn btn-dark" onclick="setMode('Driving')"><%=icon('fas', 'car')%></button>
            <button class="btn btn-dark disabled" onclick="setMode('Bicycling')"><%=icon('fas', 'bicycle')%></button>
          </div>
          <br />
          <label>¿Donde comienza tu viaje?</label>
          <div class="flex select_point">
            <span class="input-group-text btn btn-outline-dark" id="Origen">Origen</span>
            <button class="btn btn-dark delMarker" id="delOrigen"><%=icon('fas', 'trash')%></button> 
          </div>
          <br />
          <label>¿Donde termina?</label>
          <div class="flex select_point">
            <span class="input-group-text btn btn-outline-dark" id="Destino">Destino</span>
            <button class="btn btn-dark" id="delDestino"><%=icon('fas', 'trash')%></button> 
          </div>
          <br />
          <button class="btn btn-dark btn-block" id="Send" >Enviar</button><br />
        </div>
        <div class="flex menu_return">
          <button class="btn btn-dark mr-1" id="map_resetBtn" onclick="javascript:void(0)" >Reiniciar</button>
          <button class="btn btn-dark md-1" id="map_menuBtn" onclick="setSection('index')" >Menu</button>
        </div>
    </div>
    <div id="mapControlResults">
      <div class="flex menu_return">
        <button class="btn btn-dark mr-1" id="mapResult_resetBtn" onclick="javascript:void(0)" >Reiniciar</button>
        <button class="btn btn-dark md-1" id="mapResult_menuBtn" onclick="setSection('index')" >Menu</button>
      </div>
      <div id="directionsItineraryContainer">
        <div id="directionsItinerary"></div>
      </div>
    </div>
  </div>
  <div class="control interestControl">
    <h2>Seccion de Interes</h2>
    
    <button class="btn btn-dark btn-block" onclick="setSection('index')" >Menu</button>
    <br>
    
    <div class="table-container">
      <table id="sitesTable"class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col" class="hidden">Latitude</th>
            <th scope="col" class="hidden">Longitude</th>
            <th scope="col" class="hidden">Description</th>
            <th scope="col" class="hidden">URL</th>
          </tr>
        </thead>
        
        <tbody>
          <% @sites.each do |site| %>
            <tr class="sitesRowTable">
              <td><%= site.id %></th>
              <td><%= site.name %></td>
              <td class="hidden"><%= site.latitude %></td>
              <td class="hidden"><%= site.longitude %></td>
              <td class="hidden"><%= site.description %></td>
              <td class="hidden"><%= site.url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <div class="">
    </div>   
      
  </div>
  <div class="control newsControl">
    <h2>Seccion de Novedades</h2>
      <div class="btn_mode_group">
        <button class=" btn btn-dark btn-block active" onclick="setSource('source01')">@BogotaTransito</button>
        <button class="btn btn-dark btn-block" onclick="setSource('source02')">@Transmilenio</button>
        <button class="btn btn-dark btn-block" onclick="setSource('source03')">@SeguridadBOG</button>
        <button class="btn btn-dark btn-block" onclick="setSource('source04')">@SectorMovilidad</button>
      </div>
      <button class="btn btn-dark btn-block btnMenu" onclick="setSection('index')" >Menu</button>
  </div>
</div>


<div id="panel_div">
  <div class="panel indexPanel active">
      <div class="container-fluid">
            <div class="row align-items-center">
                <h1>¿Qué Buscas?</h1>
            </div>
            <div id="images" class="row">
                <div class="col-sm-4">
                    <a id="a1"><img id="RouteLink" onclick="setSection('map')" class="panellink img-thumbnail" src= <%=asset_path("mapMenu/1.jpg")%>></a>
                </div>
                <div class="col-sm-4">
                    <a id="a1"><img id="InteresLink" onclick="setSection('interest')" class="panellink img-thumbnail" src= <%=asset_path("mapMenu/2.jpg")%>></a>
                </div>
                <div class="col-sm-4">
                    <a id="a1"><img id="NewsLink" onclick="setSection('news')" class="panellink img-thumbnail" src= <%=asset_path("mapMenu/3.jpg")%>></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                  <h2 id="t1">Planear Ruta</h2>
                </div>
                <div class="col-sm-4">
                  <h2 id="t2">Sitios de Interés</h2>
                </div>
                <div class="col-sm-4">
                  <h2 id="t3">Ultimos
                      Aconteciminetos</h2>
                </div>
            </div>
        </div>
    </div>
  <!--<div class="panel indexPanel active">
      <h1>¿Que Buscas?</h1><br />
      <p id="RouteLink" class="panellink" onclick="setSection('map')">Planear Ruta</p>
      <p id="InteresLink" class="panellink" onclick="setSection('interest')">Sitios de interes</p>
      <p id="NewsLink" class="panellink" onclick="setSection('news')">Ultimos acontecimientos</p>
  </div>-->
  <div class="panel mapPanel">
    <div class="map_container">
      <div id="myMap"></div>
    </div>
  </div>
  <div class="panel interestPanel">
    <div class="map_container">
      <div id="interestMap"></div>
    </div>
  </div>
  <div class="panel newsPanel">
    <div class="twitterFeed source01 active">
      <a class="twitter-timeline" href="https://twitter.com/BogotaTransito?ref_src=twsrc%5Etfw">Tweets by BogotaTransito</a>
    </div>
    <div class="twitterFeed source02 hidden">
      <a class="twitter-timeline" href="https://twitter.com/TransMilenio?ref_src=twsrc%5Etfw">Tweets by TransMilenio</a> 
    </div>
    <div class="twitterFeed source03 hidden">
      <a class="twitter-timeline" href="https://twitter.com/SeguridadBOG?ref_src=twsrc%5Etfw">Tweets by SeguridadBOG</a> 
    </div>
    <div class="twitterFeed source04 hidden">
      <a class="twitter-timeline" href="https://twitter.com/SectorMovilidad?ref_src=twsrc%5Etfw">Tweets by SectorMovilidad</a>
    </div>
  </div>
</div>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=getMap' async defer></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>

  mapService_init();

  
</script>