<%= form_for @user, url: {action: "update"}, html: {id: "user_form_pass" } do |f| %>
    
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm">
          <br/>
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, class:"form-control" %><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control" %><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= f.submit "Change password", :class => 'btn btn-dark btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
<% end %>