<%= stylesheet_link_tag 'users/form'%>
<div class="row">
    <div class="col-sm">
      <h1 align="center">Editar Usuario</h1>
    </div>
</div>

<%= form_for @user, url: {action: "update"}, html: {id: "user_form" } do |f| %>

  <% if @user.errors.any? %>
    <%= render 'error' %>
  <% end %>
  
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm">
          <%= f.label :username %><br />
          <%= f.text_field :username, class:"form-control"%><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control" %><br />
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-check">
            <%= f.check_box :admin, class:"form-check-input" %>
            <%= f.label :admin, class: "form-check-label" %>
          </div>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="preview_picture_container">
            <p style="text-align:center;">
              <%= image_tag @user.avatar_url(:standard), id: "preview_picture", alt: "avatar" %>
              <%= f.file_field :avatar, id: "preview_upload_file_btn" %>
              <%= f.hidden_field :avatar_cache %>  
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <br/>
            <%= f.submit 'Actualizar', :class => 'btn btn-dark btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
<% end %>

<%= form_for @user, url: {action: "update"}, html: {id: "user_form_pass" } do |f| %>
    
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm">
          <br/>
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, class:"form-control" %><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control" %><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= f.submit "Change password", :class => 'btn btn-dark btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
<% end %>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-4">
      <br />
      <%= link_to 'All users', users_path, class: "btn btn-dark btn-block" %>
    </div>
    <div class="col-md"></div>
</div>

<script>
    preview_box();
</script>
