<%= stylesheet_link_tag 'users/user_list' %>

<div class="row">
  <div class="col-sm">
    <h1 align="center">Lista de Usuarios</h1><br />
  </div>
</div>


<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-md-4">
        <h3>Usuario</h3>
        <hr>
      </div>
      <div class="col-sm-5">
        <h3>Email</h3>
        <hr>
      </div>
      <div class="col-sm-3">
        <h3>Acciones</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

<% @users.each do |user| %>
  <div class="row user_list_info">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag user.avatar_url(:thumbnail), id: "user_list_thumb", style: "float: left;" %>
          <span class=""><%=user.username%></span>
        </div>
        <div class="col-sm-5">
          <span class=""><%= user.email %></span><br/>
        </div>
        <div class="col-sm-3">
          <div class="d-flex">
            <%=link_to icon('fas', 'eye'), "users/"+user.username, class: "p-2 flex-fill btn btn-outline-info" %>
            <%=link_to icon('fas', 'edit'), "", class: "p-2 flex-fill btn btn-outline-warning" %>
            <%=link_to icon('fas', 'trash'), "", class: "p-2 flex-fill btn btn-outline-danger" %>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-lg"></div>
  </div>
<% end %>