<%= stylesheet_link_tag 'users/dashboard' %>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-8" style="text-align: center;">
        <h1 align="center">DashBoard</h1><br />
    </div>
    <div class="col-sm"></div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-5">
                <b>Usuario:</b><br />
                <span class="input-group-text"><%= @user.username %></span><br/>
            </div>
            <div class="col-md-5">
                <b>Email:</b><br />
                <span class="input-group-text"><%= @user.email %></span><br/>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-md-10">
                <% unless @user.avatar_url.nil? %>
                    <%= image_tag @user.avatar_url(:standard), id: "user_avatar" %>
                <% end %>
                <br />
                <%= link_to 'Edit profile', edit_user_registration_path, class:"btn btn-dark btn-block"  %>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-8" style="text-align: center;">
        <h2 align="center">Versions</h2>
        <table class='table'>
          <thead>
            <tr>
              <th>ID</th>
              <th>Modifier</th>
              <th>Action</th>
              <th>Changes</th>
            </tr>
          </thead>
          <tbody>
            <% @user.versions.each do |version| %>
              <%= tag.tr do %>
                <%= tag.td version.id %>
                <%= tag.td version.whodunnit %>
                <%= tag.td link_to 'rollback', user_rollback_path(@user, version: version) %>
                <%= tag.td do %>
                  <%= tag.ul class: 'list-group' do %>
                    <li class='list-group-item'>
                      <strong>User Name:</strong> 
                      <%= version.changed_object.username %>
                    </li>
                    <li class='list-group-item'>
                      <strong>Email:</strong> 
                      <%= version.changed_object.email %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
        </table>
    </div>
    <div class="col-sm"></div>
</div>


<% if @user.try(:admin?)%>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-8" style="text-align: center;">
            <br><br><h1 align="center">Admin Tools</h1>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-4">
            <%= link_to 'Users List', {controller: "users"}, class:"btn btn-dark btn-block" %>
            <%= link_to 'Delinquency Stats', {controller: "delinquency_stats"}, class:"btn btn-dark btn-block" %>
            <%= link_to 'Reports', {controller: "reports"}, class:"btn btn-dark btn-block" %>
            <br />
        </div>
        <div class="col-sm-4">
            <%= link_to 'Zones', {controller: "zones"}, class:"btn btn-dark btn-block" %>
            <%= link_to 'Tips', {controller: "tips"}, class:"btn btn-dark btn-block" %>
            <%= link_to '', "", class:"btn btn-dark btn-block" %>
            <br />
        </div>
        <div class="col-sm"></div>
    </div>
<% end %>