<%= stylesheet_link_tag 'devise_css/forgot_password'%>

<div class="row">
  <div class="col-md"></div>
  <div class="col-md-6">
    
    <h1>Olvide mi contraseña</h1><br>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %><br>
    
      <%= f.submit "Send me reset password instructions", class: "btn btn-dark btn-block" %><br />
      
    <% end %>
    <div class="btn-group" role="group" aria-label="Buttons">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-md"></div>
</div>