<%= stylesheet_link_tag 'pages/services'%>
<script type="text/javascript">
  services_init();
</script>
<div class="row align-items-center">
  <div class="services">
      <!--Servicio1-->
      <div class="slideImage">
          <ul class="nav navbar-nav">
              <div id="service1" class="sidenav">
                  <div class="col-sm-5 col1">
                      <div class="slidesInfo1">
                        <div class="slide_content">
                          <h1>Tips de Movilidad</h1>
                          <p>
                            En ocaciones moverse por Bogotá puede resultar un poco complicado, es una ciudad grande, central y 
                            congestionada y es por esto que hay que estar preparados antes de salir de nuestra casa. Ten en cuenta estos 
                            consejos para movilizarte con tranquilidad por Bogota.
                          </p>
                          <%= link_to "Saber más", { controller: "tipsservice", action: "selection" }, class: "more_link" %>
                        </div>
                        <button id="slideButtonLeft" class="slideButton" onclick="scrollWinLeft()"><%=icon('fas', 'caret-left')%></button>
                        <button id="slideButtonRight" class="slideButton" onclick="scrollWinRight()"><%=icon('fas', 'caret-right')%></button>
                      </div>
                  </div>
              </div>
          </ul>
          <img id="images" src= <%=asset_path("services/sImage1.jpg")%> >
      </div>
      <!--Servicio2-->
      <div class="slideImage">
          <ul class="nav navbar-nav">
              <div id="service2" class="sidenav">
                  <div class="col-sm-5 col2">
                      <div class="slidesInfo2">
                        <div class="slide_content">
                          <h1>Mapa de Planeación</h1>
                          <p>
                            Planea tu ruta! Utiliza el mapa de Bogotá Segura para planear un viaje seguro por la ciudad. Pasa por
                            puntos seguros, conoce sitios de interés, estima tiempos de viaje y entérate de las últimas noticias 
                            relacionadas con movilidad.
                          </p>
                          <%= link_to "Saber más", { controller: "maps", action: "map" }, class: "more_link" %>
                        </div>
                        <button id="slideButtonLeft" class="slideButton" onclick="scrollWinLeft()"><%=icon('fas', 'caret-left')%></button>
                        <button id="slideButtonRight" class="slideButton" onclick="scrollWinRight()"><%=icon('fas', 'caret-right')%></button>
                      </div>
                  </div>
              </div>
          </ul>
          <img id="images" src=<%=asset_path("services/sImage2.jpg")%>>
      </div>
      <!--Servicio3-->
      <div class="slideImage">
          <ul class="nav navbar-nav">
              <div id="service3" class="sidenav">
                  <div class="col-sm-5 col3">
                      <div class="slidesInfo3">
                        <div class="slide_content">
                          <h1>Maneja tu cuenta</h1>
                          <p>
                            Crea tu usario de Bogotá Segura! Personaliza tu imagen y comparte tu experiencia con nuestra aplicación. 
                            En nuestra siguiente actualización podrás compartir tu experiencias en Bogotá, alertar a otros sobre
                            lugares peligrosos y realizar denuncias sobre diferentes crimenes.
                          </p>
                          <%= link_to "Saber más", edit_user_registration_path, class: "more_link" %>
                        </div>
                        <button id="slideButtonLeft" class="slideButton" onclick="scrollWinLeft()"><%=icon('fas', 'caret-left')%></button>
                        <button id="slideButtonRight" class="slideButton" onclick="scrollWinRight()"><%=icon('fas', 'caret-right')%></button>
                      </div>
                  </div>
              </div>
          </ul>
          <img id="images" src=<%=asset_path("services/sImage3.JPG")%>>
      </div>
  </div>
</div>

<script>
  services_init();
</script>