<p id="notice"><%= notice %></p>

<h1>Delinquency Stats</h1>

<table>
  <thead>
    <tr>
      <th>Theft to person</th>
      <th>Theft to car</th>
      <th>Theft to motorbike</th>
      <th>Theft to bike</th>
      <th>Theft to building</th>
      <th>Injury to person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delinquency_stats.each do |delinquency_stat| %>
      <tr>
        <td><%= delinquency_stat.theft_to_person %></td>
        <td><%= delinquency_stat.theft_to_car %></td>
        <td><%= delinquency_stat.theft_to_motorbike %></td>
        <td><%= delinquency_stat.theft_to_bike %></td>
        <td><%= delinquency_stat.theft_to_building %></td>
        <td><%= delinquency_stat.injury_to_person %></td>
        <td><%= link_to 'Show', delinquency_stat %></td>
        <td><%= link_to 'Edit', edit_delinquency_stat_path(delinquency_stat) %></td>
        <td><%= link_to 'Destroy', delinquency_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delinquency Stat', new_delinquency_stat_path %>
