<%= stylesheet_link_tag 'Navbar/whitenavtoggler' %>
<%= stylesheet_link_tag 'Tips/selection', media: 'all' %>

<div class="row">
  <div class="col-sm">
    <h1>¿Como te mueves por Bogota?</h1>
  </div>
  <div class="col-sm">
    <%= link_to "Walking", {:action => 'tip', :type => "Walk"}, class: "btn btn-dark" -%>
    <%= link_to "Bus", {:action => 'tip', :type => "Bus"}, class: "btn btn-dark" -%>
    <%= link_to "Car", {:action => 'tip', :type => "Car"}, class: "btn btn-dark" -%>
    <%= link_to "Bike", {:action => 'tip', :type => "Bike"}, class: "btn btn-dark" -%>
  </div>
</div>