<nav id="top_navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <span id="optionsButton" onclick="openNav()"><%=icon('fas', 'bars')%></span>
    </ul>
    <ul class="navbar-nav ml-auto">
      <a id="logo" href="/" ><nobr>Bogota Segura</nobr></a>
    </ul>
  </div>
</nav>
<!-- The overlay -->
<div id="myNav" class="overlay">
  <!-- Button to close the overlay navigation -->
  <button class="closebtn" onclick="closeNav()"><%=icon('fas', 'arrow-left')%></button>
  <h2 id="menu_title">Bogota Segura</h2>
  <hr class="navBarLine">
  <%= link_to 'Inicio', root_path %>
  <a class="nav-item nav-link" href="/pages/services">Servicios</a>
  <a class="nav-item nav-link" href="/pages/aboutus">Contactenos</a>
  <hr class="navBarLine">
  <% if user_signed_in? %>
    <%= link_to current_user.username, "/users/"+current_user.username %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
