<nav id="top_navbar" class="navbar navbar-dark  navbar-expand-lg bg-dark">
  	<%= link_to 'Bogota Segura', root_path, class: 'navbar-brand' %>

  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div id="in_navbar" class="navbar-nav">
  	   <a class="nav-item nav-link" href="/pages/home">Home </a>
  	   <a class="nav-item nav-link" href="/">More</a>
       <p class="navbar-text pull-right">
       <% if user_signed_in? %>
           Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
      </div>
  	</div>
</nav>

