<nav id="top_navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="d-flex p-2 flex-row container-fluid">
    <div class="p-2 mr-auto">
      <span id="optionsButton" onclick="openNav()"><%=icon('fas', 'bars')%></span>
    </div>
    <% if user_signed_in? %>
        <%=link_to("/users/"+current_user.username, id: "navbar_logo") do%>
          <%= image_tag current_user.avatar_url(:thumbnail), id: "user_thumb", class: "p-2 user_pic" %>
          <a class="p-2" id="logo" href=<%="/users/"+current_user.id.to_s%> ><nobr><%=current_user.username%></nobr></a>
        <%end%>
    <% else %>
      <a class="p-2" id="logo" href="/" ><nobr>Bogota Segura</nobr></a>
    <% end %>
  </div>
</nav>

<div id="mySidenav" class="sidenavbar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><%=icon('fas', 'arrow-left')%></a>
  
  <h2 id="menu_title">Bogota Segura</h2>
  <br />
  <%= link_to 'Inicio', root_path %>
  <a class="nav-item nav-link" href="/pages/services">Servicios</a>
  <a class="nav-item nav-link" href="/pages/aboutus">Contactenos</a>
  <br />
  <% if user_signed_in? %>
    <%= link_to current_user.username, "/users/"+current_user.id.to_s %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path  %>
  <% end %>
</div>

